name: (disabled) rollout-image

on:
  workflow_dispatch:

jobs:
  noop:
    runs-on: ubuntu-22.04
    steps:
      - name: Disabled notice
        run: echo "This workflow is disabled; use cd-workflow.yml"
